@import "tailwindcss";
@import "@fontsource/pretendard/400.css";
@import "@fontsource/pretendard/500.css";
@import "@fontsource/pretendard/600.css";
@import "@fontsource/pretendard/700.css";

html, body {
  font-family: "Pretendard", sans-serif;
}

/* 기능 */
@keyframes slide-left {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}

.animate-slide-left {
  animation: slide-left 0.3s ease-out forwards;
}

@keyframes modal-enter {
  0% {
    transform: scale(0.9);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.animate-modal-enter {
  animation: modal-enter 0.25s ease-out forwards;
}
